@using Microsoft.AspNetCore.Mvc.Rendering
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Blogpost>
@{
    Layout = "master.cshtml";
}

@Html.Partial("~/Views/Partials/SectionHeader.cshtml")

<section class="section">
    <div class="container">
        <article>
            <div class="blogpost-meta">
                <small class="blogpost-date">@Model.CreateDate.ToShortDateString()</small>
                <span class="blogpost-cat">
                    @Html.Partial("~/Views/Partials/CategoryLinks.cshtml", Model.Categories)
                </span>
            </div>
            <h3>@Model.Excerpt</h3>
            @Html.GetGridHtml(Model, "bodyText", "bootstrap3-fluid")
            <!-- todo: implement discus comments -->
        </article>
    </div>

    <div class="container">
        <h1><a href="https://our.umbraco.com/Documentation/Reference/Querying/UmbracoHelper/">Cheat sheet - UmbracoHelper</a></h1>
        <dl>
            <dt>.Content(Guid.Parse("ca4249ed-2b23-4337-b522-63cabe5587d1"))</dt>
            <dd>@Umbraco.Content(Guid.Parse("ca4249ed-2b23-4337-b522-63cabe5587d1")).Name/dd>

            <dt>.Content(Guid.Parse("bc41a208-5c36-4978-a3e2-7cfcfd581980")) as Blogpost</dt>
            <dd>@((Umbraco.Content(Guid.Parse("bc41a208-5c36-4978-a3e2-7cfcfd581980")) as Blogpost).Name)</dd>

            <dt>.Media(Guid.Parse("662af6ca-411a-4c93-a6c7-22c4845698e7"))</dt>
            <dd>@Umbraco.Media(Guid.Parse("662af6ca-411a-4c93-a6c7-22c4845698e7")).Name</dd>

            <dt>.Media(Guid.Parse("662af6ca-411a-4c93-a6c7-22c4845698e7"))</dt>
            <dd>@((Umbraco.Media(Guid.Parse("662af6ca-411a-4c93-a6c7-22c4845698e7")) as Image).Name)</dd>

            <dt>.ContentAtRoot</dt>
            <dd>@Umbraco.ContentAtRoot().FirstOrDefault().Name</dd>


        </dl>
    </div>

    <div class="container">
            <h1><a href="https://our.umbraco.com/Documentation/Reference/Querying/UmbracoContext/">UmbracoContext</a></h1>
        <dl>
            <dt>.Content.GetByRoute("/")</dt>
            <dd>@UmbracoContext.Content.GetByRoute("/").Name</dd>

            <dt>.InPreviewMode</dt>
            <dd>@UmbracoContext.InPreviewMode</dd>

            <dt>.IsDebug</dt>
            <dd>@UmbracoContext.IsDebug</dd>

            <dt>.Media.GetAtRoot().FirstOrDefault()</dt>
            <dd>@UmbracoContext.Media.GetAtRoot().FirstOrDefault().Name</dd>

            <dt>.CleanedUmbracoUrl</dt>
            <dd>@UmbracoContext.CleanedUmbracoUrl</dd>

            <dt>.OriginalRequestUrl</dt>
            <dd>@UmbracoContext.OriginalRequestUrl</dd>

            <dt>.Domains</dt>
            <dd>@(string.Join(",", UmbracoContext.Domains.GetAll(true).Select(d=>d.Name)))</dd>

            <dt>.PublishedRequest</dt>
            <dd>@UmbracoContext.PublishedRequest</dd>

        </dl>
        </div>

</section>